
.flex-all-center{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.btn{
    /* padding: 0 5px; */
    color: rgb(255, 255, 255);
    background-color: var(--main-bg-color);
    width: 100px;
    border: 4x solid white;
    cursor: pointer;
    font-family: 'Lato'sans-serif;
    font-weight: bold;
 }
 .my-2{
    margin: 23px 0;
 }